*{
    padding:0px;
    margin:0px;
    list-style: none;
    text-decoration: none;
}
.middle{
    width: 300px;
    border-radius: 12px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}
.items{
    width: 300px;
    overflow: hidden;
}
.btn{
    background: grey;
    display: block;
    padding: 10px 20px;
    color:white;
}
.smenu a{
    display: block;
    max-height: 0px;
}